footer {
	background-color: #333;
}

footer .content {
	max-width: 1000px;
	margin: 0 auto;
	padding: 70px 20px 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-size: 0.9rem;
	color: #ccc;
	gap: 20px;
	line-height: 1.5;
}

footer .content > *:first-child {
	align-items: flex-start;
}

footer .content > *:nth-child(2) {
	align-items: center;
}

footer .content > *:last-child {
	align-items: flex-end;
}

footer .content ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

footer .content ul li {
	list-style: none;
}

footer a {
	color: inherit;
}
